@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --orange-color: rgb(239, 120, 29);
  --white-color: #fff;
  --light-color: rgb(233, 232, 232);
  --ligtest-color: rgb(131, 131, 131);
  --black-color: #000;
  --info-color: rgb(239, 120, 29);
  --error-color: #fd5d5d;
  --success-color: #73d059;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}
